html {
  font-size: 14px;
}
#showcase .showcase-content {
  /* height: 60vh; */
  top: 100px;
}

/* Align icon to left */

#what .items {
  /* display: block; */
  padding: 1rem;
  flex-wrap: wrap;
  flex-basis: 300px;
}

#what .items .item {
  display: flex;
  text-align: left;
  flex-basis: 300px;
}

/* Smartphones */
@media (max-width: 920px) {
  #navbar {
    height: 100px;
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    margin-top: -4rem;
    top: 155px;
  }

  #who {
    display: block; /*img will not display because it's flex and needs height */
    display: none;
  }
  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    display: block;
  }
  #contact .map {
    height: 300px;
    border-top: 4px solid #333333;
  }
}

@media (max-width: 1500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 568px) {
  #navbar {
    position: initial;
  }
  .contact-data-inside {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #showcase .showcase-content {
    /* margin-top: -4.7rem; */
    top: 2000px;
  }
  .l-heading {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  .contact {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
